.sw?
.*.sw?
*.beam
.erlang.mk/
/builds/
/cover/
/deps/
/doc/
/ebin/
/escript/
/logs/
/node_modules/
/plugins/
/sbin/
/xrefr/
*.lock
.tool-versions
.tool-versions-e
erlang.mk
package-lock.json
rabbitmq_delimiter_exchange.d
